#infobox {
    position: absolute;
    max-width: 200px;
    /* height: 70px; */
    top: 10px;
    right: 80px;
    background-color: rgba(107, 107, 107, 0.616);
    z-index: 1;
}

h3 {
    margin: auto;
    text-align: center;
    padding: 20px;
    color: bisque;
}

img {
    margin: 0 auto;
    padding: 5px;
    max-width: 190px;
    max-height: 150px;
}