<button mat-fab color="warn" [matMenuTriggerFor]="layerMenu" class="layer-control-button" aria-label="layer control">
    <mat-icon aria-hidden="false">layers</mat-icon>
</button>
<mat-menu #layerMenu="matMenu" class="layer-control" hasBackdrop="false">
    <mat-list role="list" (click)="$event.stopPropagation()">
        <mat-list-item role="listitem" *ngFor="let layer of layers" class="layer-control">
            <div class="container">
                <div>
                    <mat-slide-toggle color="warn" (click)="toggleLayerVisibility($event, layer.id)">
                        {{layer.name}}
                    </mat-slide-toggle>
                </div>
                <div>
                    <button 
                        *ngIf="layer.visible && layer.styles.length > 1" 
                        mat-icon-button 
                        [matMenuTriggerFor]="styleMenu"  
                        matTooltip="Vælg lag-styling"
                        matTooltipPosition="left"
                    >
                        <mat-icon>brush</mat-icon>
                    </button>
                </div>
            </div>
            <mat-menu #styleMenu="matMenu" hasBackdrop="false">
                <mat-radio-group class="style-radio-group">
                    <mat-radio-button class="style-radio-button" 
                        *ngFor="let style of layer.styles; let i = index" 
                        [value]="style.id"
                        (click)="changeStyle(layer.id, style.id)"
                        [checked]="i === 0"
                        [matTooltip]="style.description"
                        matTooltipPosition="before"

                    >
                        {{style.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</mat-menu>