<mat-sidenav-container class="example-container" autosize [hasBackdrop]="false">

  <mat-sidenav #sidenav class="example-sidenav" mode="over" (opened)="getMapFeatures()">
    <button mat-icon-button class="close-sidebar" (click)="sidenav.close()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
    </button>
    <p *ngIf="!signList || signList.length === 0">Kan max hente data fra 1000 skilte <br> zoom ind og tryk på knappen
      herunder</p>
    <button class="get-data-btn" mat-button (click)="updateMapFeatures()">Hent data fra kortet</button>
    <hr>
    <div *ngIf="signList && signList.length > 0">
      <mat-form-field class="search-field">
        <mat-label>Søg skiltetype</mat-label>
        <input matInput type="text" [(ngModel)]="searchString" value=''>
        <button mat-button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-nav-list>
        <mat-list-item class="list-item" *ngFor="let i of signList | filter:searchString:'sign'" (click)="clicked(i.coordinates)">
          {{i.sign}}
        </mat-list-item>
      </mat-nav-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
    <ng-content></ng-content>
    <button *ngIf="showSignTools" mat-fab color="warn" class="toggle-sidebar" (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
    </button>
  </mat-sidenav-content>

</mat-sidenav-container>