.example-container {
    width: 100%;
    height: 100%;
    color: white;
  }
  
.example-sidenav-content {
  height: 100%;
  width: 100%;
}

.example-sidenav {
  padding: 20px;
  width: 250px;
  background-color: rgb(73, 73, 73);
}

.toggle-sidebar {
  position: absolute;
  top: 80px;
  right: 10px;
}

.close-sidebar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.list-item {
  color: white;
}

p {
  color: white;
}

.get-data-btn {
  color: white;
  background-color: rgb(107, 107, 107);
}

.search-field {
  width: 100%;
  color: white;
}