@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
    width: 100%;  
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mapboxgl-ctrl-group {
    background: darkgray;
    border-radius: 0px;
}

.mapboxgl-ctrl-group button {
    width: 35px;
    height: 35px;
}

.mat-menu-content {
    background-color: darkgray;
}

.mat-slide-toggle-thumb {
    background-color: black;
}